x-action {
  display:inline-block;
}

x-appbar {
  padding:0;
  display:-webkit-box;
  display:-moz-box;
  display:-ms-flexbox;
  display:-webkit-flex;
  display:flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

x-appbar, x-appbar * {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

x-appbar > * {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  white-space: nowrap;
  vertical-align: middle;
}

x-appbar > [x-appbar-flex] {
  -webkit-box-flex: auto;
  -moz-box-flex: auto;
  -webkit-flex: auto;
  -ms-flex: auto;
  box-flex: auto;
  flex: auto;
}

x-appbar > a,
x-appbar > button,
x-appbar > x-action,
  x-appbar > [x-appbar-button] {
  font-size: 1em;
  cursor: pointer;
}

x-appbar > a,
x-appbar > button,
x-appbar > x-action,
x-appbar > [x-appbar-button],
x-appbar > [x-appbar-padding] {
  padding: 0 0.75em;
}

x-appbar > a,
x-appbar > button,
x-appbar > x-action,
x-appbar > [x-appbar-button],
x-appbar > [x-appbar-stretch] {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

x-appbar > h1,x-appbar h2,x-appbar h3,x-appbar h4,x-appbar h5,x-appbar h6 {
  min-width: 0;
  min-height: 0;
  -webkit-box-flex:1;
  -moz-box-flex:1;
  -webkit-flex:1;
  -ms-flex:1;
  box-flex:1;
  flex:1;
  overflow:hidden;
  text-overflow:ellipsis;
  margin:0;
  padding: 0 0.1em;
}

x-appbar > h1:after,x-appbar h2:after,x-appbar h3:after,x-appbar h4:after,x-appbar h5:after,x-appbar h6:after {
  content:attr(subheading);
  padding: 0 0.1em;
}


x-code-prism {
	display: block;
}

code[class*="language-"],
pre[class*="language-"] {
	color: #c5c8c6;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier, monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #1d1f21;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #7C7C7C;
}

.token.punctuation {
	color: #c5c8c6;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.keyword,
.token.tag {
    color: #96CBFE;
}

.token.class-name {
	color: #FFFFB6;
	text-decoration: underline;
}

.token.boolean,
.token.constant {
    color: #99CC99;
}

.token.symbol,
.token.deleted {
	color: #f92672;
}

.token.number {
	color: #FF73FD;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #A8FF60;
}

.token.variable {
	color: #C6C5FE;
}

.token.operator {
    color: #EDEDED;
}

.token.entity {
    color: #FFFFB6;
    /* text-decoration: underline; */
}

.token.url {
    color: #96CBFE;
}

.language-css .token.string,
.style .token.string {
	color: #87C38A;
}

.token.atrule,
.token.attr-value {
    color: #F9EE98;
}

.token.function {
	color: #DAD085;
}

.token.regex {
    color: #E9C062;
}

.token.important {
	color: #fd971f;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

pre.line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber;
}

pre.line-numbers > code {
	position: relative;
}

.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;
	font-size: 100%;
	left: -3.8em;
	width: 3em; /* works for line-numbers below 1000 lines */
	letter-spacing: -1px;
	border-right: 1px solid #999;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

	.line-numbers-rows > span {
		pointer-events: none;
		display: block;
		counter-increment: linenumber;
	}

		.line-numbers-rows > span:before {
			content: counter(linenumber);
			color: #999;
			display: block;
			padding-right: 0.8em;
			text-align: right;
		}

x-cube {
  display: block;
  position: relative;
  font-size: 1em;
  width: 1em;
  height: 1em;
  background: rgba(0,0,0,0.1);
  -webkit-transform-origin: 0;
  transform-origin: 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

x-cube .x-cube-face {
  position: absolute;
  top: 0;
  width: inherit;
  height: inherit;
  background: inherit;
  box-sizing: border-box;
  border: 2px solid black;
}

x-cube .x-cube-front {
  position: relative;
  -webkit-transform: translateZ(0em);
  transform: translateZ(0em);
}

x-cube .x-cube-back {
  -webkit-transform: translateZ(0em);
  transform: translateZ(0em);
}

x-cube .x-cube-left {
  -webkit-transform-origin: left;
  transform-origin: left;
  -webkit-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
}

x-cube .x-cube-right {
  right: 0;
  -webkit-transform-origin: right;
  transform-origin: right;
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
}

x-cube .x-cube-top {
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
}

x-cube .x-cube-bottom {
  top: auto;
  bottom: 0;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

x-modal {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  z-index: 1;
  opacity: 1;
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  will-change: opacity, -webkit-transform, transform;
}

x-modal-overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  opacity: 0;
  will-change: opacity, -webkit-transform, transform;
}

x-modal-overlay:before {
  content: "×";
  display: block;
  position: absolute;
  top: 0.25em;
  right: 0.25em;
  width: 1em;
  height: 1em;
  padding: 0.05em;
  color: #f00;
  font-size: 2em;
  line-height: 100%;
  text-align: center;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}

x-modal[hidden], x-modal[hidden] + x-modal-overlay, x-modal:not([overlay]) + x-modal-overlay {
  display: none;
}

x-modal[transition] {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
  -moz-transform: translate(-50%, -50%) scale(0.9);
  -o-transform: translate(-50%, -50%) scale(0.9);
  transform: translate(-50%, -50%) scale(0.9);
}

x-modal[transition], x-modal[transition] + x-modal-overlay {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease, -webkit-transform ease 0.35s;
  -moz-transition: opacity 0.3s ease, -moz-transform ease 0.35s;
  -o-transition: opacity 0.3s ease, -o-transform ease 0.35s;
  transition: opacity 0.3s ease, transform ease 0.35s;
}

x-modal[transition="show"] {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -moz-transform: translate(-50%, -50%) scale(1);
  -o-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

x-modal[transition="show"]:not([hidden]) + x-modal-overlay {
  opacity: 1;
}

x-modal[overlay]:not([hidden]):not([transition]) + x-modal-overlay {
  opacity: 1;
}


body:not([allow-scroll-x]) {
  overflow-x: hidden;
}

x-page {
  display: block;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  box-sizing: border-box;
  contain: layout style;
  -webkit-transition: opacity ease;
  transition: opacity ease;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

x-page > header,
x-page > footer,
x-page > section {
  position: fixed;
  contain: layout style;
  box-sizing: border-box;
  -webkit-transition: opacity ease, -webkit-transform ease;
  transition: opacity ease, transform ease;
  -webkit-transition-duration: inherit;
  transition-duration: inherit;
}

x-page > header,
x-page > footer {
  left: 0;
  right: 0;
  height: 3.5em;
  line-height: 3.5em;
  z-index: 1;
}

x-page > header {
  top: 0;
}

x-page > footer {
  bottom: 0;
}

x-page > section {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  overflow: visible;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

x-page > header ~ section {
  padding-top: 3.5em;
}

x-page > section:not(:last-child) {
  padding-bottom: 3.5em;
}

x-page:not([page-transition]) > section,
x-page[page-transition~="fade"] {
  opacity: 0;
}

x-page[page-transition~="slide-up"] > * {
  transform: translate(0%, 100vh);
  -webkit-transform: translate(0%, 100vh);
}

x-page[page-transition~="slide-down"] > * {
  transform: translate(0%, -100vh);
  -webkit-transform: translate(0%, -100vh);
}

x-page[page-transition~="slide-left"] > * {
  left: 0;
  -webkit-transform: translate(-100%, 0%);
  transform: translate(-100%, 0%);
}

x-page[page-transition~="slide-right"] > * {
  right: 0;
  -webkit-transform: translate(100%, 0%);
  transform: translate(100%, 0%);
}

x-page:not([page-transition]) > header {
  top: 0;
  transform: translate(0%, -100%);
  -webkit-transform: translate(0%, -100%);
}

x-page:not([page-transition]) > footer {
  bottom: 0;
  -webkit-transform: translate(0%, 100%);
  transform: translate(0%, 100%);
}

x-page[selected] {
  z-index: 1;
}

x-page:not([selected]):not([active]) > * {
  z-index: 2;
}

x-page:not([selected]):not([active]) > header,
x-page:not([selected]):not([active]) > footer {
  z-index: 3;
}

x-page[active] {
  position: absolute;
}

x-page[active],
x-page[transitioning="inactive"] {
  visibility: visible;
}

x-page[active]:not([transition="inactive"]),
x-page[active]:not([transition="inactive"]) > * {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}

@media (max-device-width: 1024px) {
  x-page > * {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
}

x-peekbox {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  background: #fff;
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 0.25s ease;
  -moz-transition: -moz-transform 0.25s ease;
  -ms-transition: -ms-transform 0.25s ease;
  transition: transform 0.25s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  will-change: -webkit-transform, transform;
}

x-peekbox[edge="top"] {
  height: auto;
  width: 100%;
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
}

x-peekbox[edge="right"] {
  left: auto;
  right: 0;
  -webkit-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
}

x-peekbox[edge="bottom"] {
  top: auto;
  bottom: 0;
  height: auto;
  width: 100%;
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
}

x-peekbox[showing] {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

[x-peekbox-container]{
  overflow: hidden;
}

[x-peekbox-container][x-peekbox-cover][x-peekbox-showing] > *:not(x-peekbox){
  pointer-events: none;
}


x-tabbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

x-tabbox > menu {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
}

x-tabbox > menu > * {
  margin: 0;
  padding: 0;
  background: #eee;
  border: none;
  font-family: inherit;
  cursor: pointer;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

x-tabbox > menu > [selected] {
  background: #f8f8f8;
}

x-tabbox > ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #f8f8f8;
  overflow: hidden;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

x-tabbox > ul > li {
  position: relative;
  min-width: 100%;
  opacity: 0;
  z-index: 0;
  overflow: auto;
}

x-tabbox[transition] > ul > li {
  -webkit-transition: ease opacity 0.3s;
  -ms-transition: ease opacity 0.3s;
  transition: ease opacity 0.3s;
}

x-tabbox[tab-position="left"],
x-tabbox[tab-position="right"] {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

x-tabbox[tab-position="left"] > menu,
x-tabbox[tab-position="right"] > menu {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

x-tabbox[tab-position="right"] > menu,
x-tabbox[tab-position="bottom"] > menu {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

x-tabbox[tab-position="left"] > menu > *,
x-tabbox[tab-position="right"] > menu > * {
  display: block;
}

x-tabbox[tab-position="right"] > ul,
x-tabbox[tab-position="bottom"] > ul {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
}

x-markdown {
  display: block;
}
